.Card {
    backdrop-filter: blur(2px);
    border: 1px solid rgba(153, 153, 153, 0.497);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 25px;
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.title {
    color: white;
    font-size: 24px;
    margin-bottom: 10px;
}

.description {
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 1.4;
}

.post-image {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
}

.post-stats {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.likes-count {
    color: white;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.likes-button {
    background-color: rgba(70, 70, 70, 0.7);
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    padding: 5px 8px;
    border-radius: 20px;
    transition: background-color 0.2s ease;
    width: 10%;
}

.likes-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.post-time {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
}

.card-link {
    display: block;
    text-decoration: none;
    color: white;
}

.Card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.Card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}